Repository d-o-p-e/time-machine-letter, pull requests merged in 2022-06, with the labels that each got.

#64 :heavy_plus_sign: msw 설치 및 개발환경 추가
  front/package-lock.json
  front/package.json
  front/src/__mocks__/Letter.js
  front/src/__mocks__/server.js
  front/src/__mocks__/worker.js
  front/src/index.js
  front/src/setupTests.js
Labels: setting, front, :white_check_mark: test

#67 ✨카카오 로그인 구현
  iOS/TimeMachineLetter.xcodeproj/project.pbxproj
  iOS/TimeMachineLetter/AppDelegate.swift
  iOS/TimeMachineLetter/Info.plist
  iOS/TimeMachineLetter/Model/KakaoLoginManager.swift
  iOS/TimeMachineLetter/SceneDelegate.swift
  iOS/TimeMachineLetter/View/LoginViewController.swift
  iOS/TimeMachineLetter/View/WritingLetterViewController.swift
Labels: 🍎ios, 🌟 feature

#68 ✨편지 작성 페이지와 서버 연결
  iOS/TimeMachineLetter.xcodeproj/project.pbxproj
  iOS/TimeMachineLetter/Model/LetterManager.swift
  iOS/TimeMachineLetter/Model/LetterModel.swift
  iOS/TimeMachineLetter/View/WritingLetterViewController.swift
Labels: 🍎ios, 🌟 feature

#66 :white_check_mark: LetterList 테스트코드 동작 로직 변경
  front/src/__mocks__/react-redux.js
  front/src/__test__/components/LetterList/LetterList.test.js
  front/test.utils.js
Labels: front, :recycle: refactor, :white_check_mark: test

#71 :sparkles:백엔드 리팩토링을 위한 환경 구축
  backend-refactoring/.gitignore
Labels: back, :recycle: refactor

#74 test: LetterDetail 테스트 코드 작성
  front/src/__mocks__/Letter.js
  front/src/__test__/components/LetterDetail.test.js
Labels: front, :white_check_mark: test

#81 :lipstick: LetterDetail UI 변경
  front/public/global.css
  front/src/components/LetterDetail.js
Labels: :ambulance: hot-fix, :lipstick: style

#82 :lipstick: LetterWrite UI 변경
  front/public/global.css
  front/src/components/LetterDetail.js
  front/src/components/LetterWrite.js
  front/src/pages/Main.js
Labels: :ambulance: hot-fix, :lipstick: style

#84 Feat/83 fix letter page
  front/src/components/LetterLoading.js
  front/src/components/LetterView.js
  front/src/components/LetterWrite.js
  front/src/components/NavBar.js
Labels: 🐛bug, :ambulance: hot-fix, :lipstick: style

#87 Feat/86 fix preview available
  back/src/main/java/crappyUnivLife/timeMachineLetter/api/MemberApiController.java
  back/src/main/java/crappyUnivLife/timeMachineLetter/service/LetterService.java
  back/src/test/java/crappyUnivLife/timeMachineLetter/service/LetterServiceTest.java
Labels: :ambulance: hot-fix
