Repository d-o-p-e/time-machine-letter, pull requests merged in 2022-05, with the labels that each got.

#42 테스트 코드 init
  front/package-lock.json
  front/package.json
  front/src/Hooks/useModal.js
  front/src/components/LetterDetail.js
  front/src/components/LetterList.js
  front/src/pages/Main.js
  front/src/pages/Routers.js
Labels: front, :recycle: refactor, :white_check_mark: test

#49 💄로그인 페이지 생성
  iOS/TimeMachineLetter.xcodeproj/project.pbxproj
  iOS/TimeMachineLetter/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/TimeMachineLetter/Assets.xcassets/kakaoLogin.imageset/Contents.json
  iOS/TimeMachineLetter/Assets.xcassets/kakaoLogin.imageset/kakao_login_large_wide.png
  iOS/TimeMachineLetter/Assets.xcassets/kakaoLogin1.imageset/Contents.json
  iOS/TimeMachineLetter/Assets.xcassets/kakaoLogin1.imageset/kakao_login_large_narrow.png
  iOS/TimeMachineLetter/View/Base.lproj/Main.storyboard
  iOS/TimeMachineLetter/View/LoginViewController.swift
  iOS/TimeMachineLetter/ViewController.swift
Labels: 🍎ios, 🌟 feature

#53 :lipstick:편지 작성페이지를 구현한다
  iOS/TimeMachineLetter.xcodeproj/project.pbxproj
  iOS/TimeMachineLetter/View/WritingLetterViewController.swift
Labels: 🍎ios, 🌟 feature

#54 💄메인 페이지 생성
  iOS/TimeMachineLetter.xcodeproj/project.pbxproj
  iOS/TimeMachineLetter/Assets.xcassets/closed.imageset/Contents.json
  iOS/TimeMachineLetter/Assets.xcassets/closed.imageset/icons8-envelope-dots-30.png
  iOS/TimeMachineLetter/Assets.xcassets/kakaoLogin1.imageset/kakao_login_large_narrow.png
  iOS/TimeMachineLetter/Assets.xcassets/opened.imageset/Contents.json
  iOS/TimeMachineLetter/Assets.xcassets/opened.imageset/icons8-open-envelope-30.png
  iOS/TimeMachineLetter/Assets.xcassets/write.imageset/Contents.json
  iOS/TimeMachineLetter/Assets.xcassets/write.imageset/icons8-composing-mail-30.png
  iOS/TimeMachineLetter/View/Base.lproj/Main.storyboard
  iOS/TimeMachineLetter/View/ClosedViewController.swift
  iOS/TimeMachineLetter/View/LoginViewController.swift
  iOS/TimeMachineLetter/View/MainViewController.swift
  iOS/TimeMachineLetter/View/OpenedViewController.swift
  iOS/TimeMachineLetter/View/TableViewCell.swift
Labels: 🍎ios, 🌟 feature

#57 :lipstick:편지작성 페이지의 기능을 추가한다.
  iOS/TimeMachineLetter.xcodeproj/project.pbxproj
  iOS/TimeMachineLetter/View/WritingLetterViewController.swift
Labels: 🍎ios, 🌟 feature

#62 ✨ 토큰 기반의 카카오 로그인 api를 개발한다.
  back/src/main/java/crappyUnivLife/timeMachineLetter/api/MemberApiController.java
  back/src/main/java/crappyUnivLife/timeMachineLetter/security/kakao/KakaoOAuth2.java
  back/src/main/java/crappyUnivLife/timeMachineLetter/service/MemberService.java
Labels: 🌟 feature, back, :recycle: refactor
